// Import Vuetify styling
// @require '~vuetify/src/stylus/main.styl'
// @require "~/node_modules/picnic/picnic.min.css"
// @require "~/assets/picnic.min.css"
@import "../../node_modules/picnic/releases/picnic.min.css"
@import "../../node_modules/picnic/releases/plugins.min.css"
